<div class="nested-fields">
  <div class="page-header">
    <h3>Physician</h3>
  </div>
  <%= f.input :experience, collection: 1..50, label: "Physician experience (years)", class: 'form-control' %>
  <%= f.input :kind, collection: [ "Pulmonologist (fellowship trained)", "General physician with an interest in pulmonology", "General physician"] , label: "Type", class: 'form-control' %>
  <%= link_to_remove_association "Remove physician", f,  class: "btn btn-danger btn-xs Component" %>
</div>