<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 ">
  <div class="nested-fields">
  <div class="page-header">
    <h3>Radiologist</h3>
  </div>
  <%= f.input :experience, collection: 1..50, label: "Radiologist experience (years)", class: 'form-control' %>
  <%= f.input :kind, collection: [ "Thoracic radiologist (fellowship trained)", "General radiologist with an interest in thoracic imaging", "General radiologist"] , label: "Type", class: 'form-control' %>
  <%= link_to_remove_association "Remove radiologist", f,  class: "btn btn-danger btn-xs Component" %>
</div>
</div>