


<div class="row">
  <div class = "col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">

    <div class = "UserTally">
      <h4>Member count:<%= @user_count %></h4>
    </div>

    <div class = "NetWorkButtons">
      <div class="btn-group" role="group" aria-label="...">
        <%=
            # link_to "IPF cases/country", ipf_users_path, :class => "btn btn-default btn-xs", :type => "button"
        %>
        <%=
            # link_to "ILD dedicated MDTS/country", mdt_users_path, :class => "btn btn-default btn-xs", :type => "button"
        %>
      </div>
    </div>

    <div class = "MapContainer">
      <div id="container-maps"></div>
    </div>

  </div>
</div>



<script>

    $(document).ready(function () {

        var data =  <%= raw @user_json %>



              // Initiate the chart
              $('#container-maps').highcharts('Map', {

                title : {
                  useHTML: true,
                  text : '<div style = "margin-bottom:40px; font-size: 0.8em;">Members by country (double click to zoom)</div>'
                },

                mapNavigation: {
                  enabled: true,
                  enableDoubleClickZoomTo: true
                },

                credits: {
                  enabled: false
                },

                exporting: {
                  enabled: false
                },

                legend: {
                  enabled: false
                },



                colorAxis: {
                  min: 1,
                  max: 1000,
                  type: 'logarithmic'
                },

                series : [{
                  data : data,
                  mapData: Highcharts.maps['custom/world'],
                  joinBy: ['iso-a2', 'code'],
                  name: 'Number of members',
                  states: {
                    hover: {
                      color: '#BADA55'
                    }
                  },
                  tooltip: {
                    valueSuffix: ''
                  }
                }]
              });


    });


</script>