/* mixins, variables, etc. */
$gray-super-light: #f1f1f1;
$gray-lightest: #e9e9e9;
$gray-light: #c3c3c3;
$gray-header: #9c9c9c;
$gray-medium-light: #eaeaea;
$gray-medium: #a8a8a8;
$gray-medium-dark:#939393;
$gray-dark: #7e7e7e;
$gray-darker:#646464;
$gray-darkest: #3f3f3f;
$breathe-blue-light: #6A9AD9;
$breathe-blue-dark: #4573B0;
$breathe-blue-darkest: #3B6296;
$breathe-header: #294469;
$breathe-tour-dark: #203654;
$breathe-background: #6b98cf;
$header-grey:#666666;
$stats-grey:#A0A0A0;
$time-stamp:#A0A0A0;
$border-grey:#e2e2e2;
$white: #ffffff;
$green-text: #4cae4c;
$green-border: #4cae4c;
$green-bgd: #5cb85c;
$red-bgd-color: #f2dede;
$red-border-color: #ebccd1;
$red-font-color: #a94442;
$yellow-bgd-color: #fcf8e3;
$yellow-border-color: #faebcc;
$yellow-font-color: #8a6d3b;
$gray-medium-dark:#939393;
$white: #FFFFFF;
$input-grey: #ccc;