// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";


html {
  min-height: 1500px;
}


.Logo {
  font-size: 1.6em !important;
}

.SubmitData {
  float: right;
  margin-right: 15px;
}

.EditData{
  color: $white !important;
  float: right;
  a {
    color: $white !important;
  }
  a:visited {
    color: $white !important;
  }
}


.Component {
  margin: 5px;
  margin-left: 0px;
  margin-bottom: 20px;
}

.links {
  border-bottom: 2px solid $border-grey;
  margin-bottom: 20px;
}


.DetailsBlock {
  padding: 15px 0px;
  clear: both;
}


.MemberList {
  padding-left: 0px;
  list-style: none;
  display: block;
  min-height: 100px;
  height: auto;

  li {
    padding: 5px;
    margin: 10px;
    width: 150px;
    height: 250px;
    float:left;
    text-align: center;
    img {
      text-align: center;
    }
  }
}

.ChartHolder {
  margin: 30px 0px;
}

.page-header {
  margin: 30px 0px 10px !important;
}

.CheckboxInputs{
  font-size: 1.1em;
}


.CaseMixInputs {
  padding: 0px 15px;
  margin-bottom: 20px;
  font-size: 1.1em;
  .form-control {
    float: right !important;
    width: 20% !important;
  }

  .text {
    display: block !important;
  }
}


.UserInputs {
  margin: 50px 0px;
}

.MapContainer {
  margin: 30px 0px 50px 0px;
}


.UserTally {
  max-width: 250px;
  margin: 0px;
}

.Label {
  font-size: 1.1em;
  font-weight: 600;
  padding: 30px 0px 10px 0px;
}

.form-group {
  max-width: 100% !important;
}

.RadioBlock {
  display: block;
  font-size: 1.2em;
  padding: 5px 0px;

  label {
    font-weight: 600 !important;
  }
  input[type = "radio"] {
    display: inline-block;
    margin-right: 20px;
  }
}

.checkbox {
  label {
    display: inline-block;
    float: left;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
  }
}

.Nation {
  width: 80%;
  margin: 0px auto;
}


.NationDetails {
  ul {
    list-style: none;
  }
  li {
    padding: 10px 0px;
  }
}

.DataContainer {
  margin:50px auto;
  max-width: 800px;
}

.NationComponents {
  width: 100%;
  margin: 50px 0px;
  ul {
    width:50%;
    padding: 0px !important;
    margin: 0px auto;
    display: table;
  }

  li {
    display: table-cell !important;
    width: 33.333333333%;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3em;

  }
}







@media (max-width: 991px) {

  .CaseMixInputs {
    padding: 0px 15px;
    margin-bottom: 20px;
    font-size: 0.9em;
    .form-control {
      width: 100% !important;
    }

    .text {
      display: block !important;
    }
  }

  select, input {
    font-size: 0.9em !important;
  }

  .page-header {
    h2 {
      font-size: 1.4em;
    }
    h3 {
      font-size: 1.4em;
    }
  }

  .RadioBlock {
    font-size: 0.6em;
    label {
      margin: 0px !important;
    }
  }

  .form-group {
    max-width: 100% !important;
  }


}











