
<footer class="footer">
    <span class = "name">
    The Global ILD Network
    </span>
  <nav>
    <ul>
      <li><%=
          # link_to "About"
      %></li>
      <li><%=
          # link_to "Contact"
      %></li>
      <li>
        <a href="https://uk.linkedin.com/in/SLFWalsh">SLFW</a>
      </li>
    </ul>
  </nav>
</footer>