
<footer class="footer">
    <span class = "name">
    The Global ILD Project
    </span>
  <nav>
    <ul>
      <%=
          # link_to "About"
      %>
      <%=
          # link_to "Contact"
      %>
      <li>
        <a href="https://uk.linkedin.com/in/SLFWalsh">SLFW</a>
      </li>
    </ul>
  </nav>
</footer>