
<footer class="footer">
    <span class = "name">
    The Global ILD Network, <a href="https://uk.linkedin.com/in/SLFWalsh">SLFWalsh</a>
    </span>
  <nav>
    <ul>
      <li><%= link_to "About"  %></li>
      <li><%= link_to "Contact" %></li>
    </ul>
  </nav>
</footer>